include README HACKING LICENSE Makefile TODO pycheckrc ACKS
include contrib/unittest.py contrib/zlibutil.py contrib/textwrap.py
include etc/mixminiond.conf etc/blacklist.conf
# Old versions of distutils miss header files
include src/_minionlib.h



